@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blue-dark: #1F2937;
    --roboto: "Roboto", sans-serif;

    --blue: #3882F6;
    --white-lcontrast: #E5E7EB; /* Title font */
    --white-hcontrast: #F9FAF8; /* Secondary font */
    --light-gray: #E5E7EB;
}

body{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* HEADER SECTION */
.header, 
.hero, 
.footer{
    background: #1F2937;
    padding: 20px;
}

.header, 
.hero{
    padding-bottom: 60px;
}

.header--container, 
.hero--container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--title{
    font-size: 24px;
    font-weight: 600;
    color: var(--white-hcontrast);
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 12px;
}

a{
    color: var(--white-lcontrast);
    font-size: 14px;
    text-decoration: none;
}

/* HERO SECTION */

.hero--texts{
    margin-right: 50px;
}

.hero--title{
    font-size: 48px;
    font-weight: bolder;
    color: var(--white-hcontrast);
}

.hero--sub{
    margin: 12px 0;
    font-size: 1em;
    color: var(--white-lcontrast);
}

.hero--cta{
    border: none;
    border-radius: 8px;
    background: var(--blue);
    color: var(--white-hcontrast);
    text-align: center;
    display: block;
    width: 100px;
    height: 30px;
    padding: 12 24px;
}

.hero--picture img{
    max-width: 420px;
    max-height: 250px;
    flex: 1;
}

/* INFORMATION SECTION */

.info{
    height: 400px;
    padding: 90px 0; 
}

.info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info--title{
    font-size: 36px;
    font-weight: bolder;
    color: var(--blue-dark);
    margin-bottom: 40px;
}

.info--cards{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 56px;
}

.info--card{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.info--img{
    border: 8px solid var(--blue);
    border-radius: 16px;
}

/* Quote */

.quote{
    background: var(--light-gray);
    min-height: 440px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote--container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.quote--cite{
    font-family: var(--roboto);
    color: var(--blue-dark);
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
}

.quote--auTHOR{
    font-weight: bolder;
    font-size: 22px;
}

/* MODAL SECTION */

.modal{
    min-height: 400px;
    padding: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--container{
    min-width: 900px;
    min-height: 100px;
    padding: 32px 46px;
    background-color: var(--blue);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modall-texts{
    font-family: var(--roboto);
}

.modal--header{
    font-size: 28px;
    color: var(--white-hcontrast);
    font-weight: 600;
}

.modal--sub{
    color: var(--white-lcontrast);
    font-size: 16px;
}

.modal--cta{
    flex-shrink: 0;
    padding: 8px 24px;
    border: 3px solid;
    border-radius: 6px;
    background-color: var(--blue);
    color: var(--white-hcontrast);
    font-size: 20px;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-hcontrast);
    font-size: 18px;
}